@import '../../sass/variables';
@import '../../sass/mixins';

.navbar {
  @include flex-justify(column, center);
  width: $maxVw;
  padding: $navPadding;
  background-color: $darkBlue;
  box-shadow: $bottomShadow;

  h1 {
    font-size: $h1Size;
    margin: $centerX;
    color: $white;
  }
}