@import '../../sass/variables';
@import '../../sass/animations';

.loginButton {
  position: absolute;
  right: $loginSize;
  top: $paddingSizeForNav ;
  padding: .30rem;
  cursor: pointer;
  @extend %navbar-button-pressed;

  a {
    color: $white;
    font-family: $font2;
    font-weight: 300;
    font-size: $loginSize;
    text-decoration: none;
  }
}
