
%searchBarBefore {
  transform: translateY(300px);
}

%searchBarSubmitted {
  transform: translateY(0px);
}

%searchResultsOpacity {
  opacity: 1;
}

@mixin animationOptions ($type, $sec){
  transition: $type $sec ease;
}

%button-pressed {
  &:hover {
      background-color:$baseBlue;
  }
  &:active {
    background-color: $darkBlue;
  }
}

%navbar-button-pressed {
  &:hover {
    box-shadow: 0 0 0 1px $white;
    border-radius: $borderRad2;
  }
  &:active {
    background-color: $white;
    a {
      color: $darkBlue;
    }
  }
}

%save-button-pressed {
  &:hover {
    background-color: rgb(250, 175, 36);
  }
  &:active {
    background-color: darkorange;
  }
}

@keyframes invalidSubmit {
  0% {
    transform: translateX(0);
  }
  6% {
    transform: translateX(-6px) rotateY(-9deg);
  }
  18% {
    transform: translateX(5px) rotateY(7deg);
  }
  31% {
    transform: translateX(-3px) rotateY(-5deg);
  }
  43% {
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    transform: translateX(0);
  }
}

%invalidSubmit {
  animation: invalidSubmit 1s ease-in-out;
}