
%searchBarBefore {
  transform: translateY(300px);
}

%searchBarSubmitted {
  transform: translateY(0px);
}

%searchResultsOpacity {
  opacity: 1;
}

@mixin animationOptions ($type, $sec){
  transition: $type $sec ease;
}

%button-pressed {
  &:hover {
      background-color:$baseBlue;
  }
  &:active {
    background-color: $darkBlue;
  }
}

%navbar-button-pressed {
  &:hover {
    box-shadow: 0 0 0 1px $white;
    border-radius: $borderRad2;
  }
  &:active {
    background-color: $white;
    a {
      color: $darkBlue;
    }
  }
}