@import './variables';

%navbar-button {
  position: absolute;
  right: $loginSize;
  top: $paddingSizeForNav ;
  padding: .30rem;
  border: $white 0px solid;  // this is just for making the shape of the box-shadow animation 
  cursor: pointer;
  a {
    color: $white;
    font-family: $font2;
    font-weight: 300;
    font-size: $loginSize;
    text-decoration: none;
  }
}